<!DOCTYPE html>
<html lang="en" ng-app="ohe">
  <head>
    <meta charset="utf-8">

    <title>&Omega;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrftoken" id="csrftoken" data-token="<%= _csrf %>">
    <% if (is_authenticated) { %>
      <meta name="user" id="user" data-id="<%= user.id %>" data-username="<%= user.username %>">
    <% } %>
    <link href="/static/bootstrap/css/bootstrap.cerulean.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/angular-ui/angular-ui.css" rel="stylesheet">
    <link href="/static/select2/select2.css" rel="stylesheet">
    <link href="/static/css/ohe.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
    <script src="/static/underscore/underscore.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js"></script>
    <script src="/static/angular-ui/angular-ui.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/select2/select2.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/socket.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/messages.js"></script>
    <script src="/static/js/users.js"></script>
    <script src="/static/js/channel-state.js"></script>
    <script src="/static/js/channels.js"></script>
    <script src="/static/js/ohe.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">&Omega;&nbsp;&nbsp;&nbsp;App.net</a>
            <% if (is_authenticated) { %>
                <nav></nav>
            <% } %>
        </div>
      </div>
    </div>

    <% if (!is_authenticated) { %>
      <div class="container">
        <h1>Welcome to &Omega;</h1>
        <a href="<%= auth_url %>" target="_self">Please log in with App.net &rarr;</a></p>
      </div>
    <% } else { %>
      <div ng-include="'/static/templates/alerts.html'"></div>
      <div class="view" ng-view></div>
    <% } %>
  </body>
</html>
