doctype html
html(lang="en", ng-app="ohe", class="omega new-app-dot-net")
  head
    meta(charset="utf-8")

    title &Omega;
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="csrftoken", id="csrftoken", data-token=_csrf)
    - if (is_authenticated)
      meta(name="user", id="user", data-id=user.id, data-username=user.username)
    // Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading
    meta(http-equiv="cleartype", content="on")
    link(href="https://fonts.googleapis.com/css?family=Montserrat", rel="stylesheet", type="text/css")
    link(href="/static/angular-ui/angular-ui.css", rel="stylesheet")
    link(href="/static/select2/select2.css", rel="stylesheet")
    link(href="/static/css/product.css", rel="stylesheet")
    link(rel="apple-touch-icon-precomposed", href="/static/images/apple-touch-icon.png")

    // HTML5 shim, for IE6-8 support of HTML5 elements
    // [if lt IE 9]>
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    // [endif]

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js")

    script(src="/static/angular-ui/angular-ui.js")
    script(src="/static/underscore/underscore.js")
    script(src="/static/bootstrap/js/bootstrap.js")
    script(src="/static/select2/select2.js")
    script(src="/static/build/ohe.min.js")



  body
    div.wrapper
      div.nav.header.yui3-u-1
        div.container
          div.yui3-u-1.clearfix
            a.pull-left.logo(href="/")
            div.navbar.pull-right
              - if (is_authenticated)
                nav

      - if (!is_authenticated)
        div.container
          h1 Welcome to &Omega;
          a(href=auth_url, target="_self") Please log in with App.net &rarr;
      - else
        div(ng-include="'/static/templates/alerts.html'")
        div.view(ng-view)
