$grayHighlight: #FBFBFB;

html.omega {
    .nav.header .logo {
        background-image: url("/static/images/appdotnet-omega.png");
    }
    .navbar .nav .active > a {
        background-color: $grayHighlight;
    }
    body, input[type=text], textarea {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    body {
        font-size: 14px;
    }
}

.logged-in-block a {
    outline: 0;
}

.hide {
    display: none;
}

.message-list-container {
    // for iscroll
    position: relative;
    z-index: 1;
    width: auto;
    height: 300px;
    overflow: hidden;
    border: 1px solid $grayLight;
    padding: 2px;
}

.message-list {
  overflow-y: auto;
  html.no-overflowscrolling.touch {
    overflow-y: hidden;
  }
  width: 100%;
  height: 100%;
}

.message-form {
    padding-top: 20px;
}

@mixin stream_block() {
    text-align: left;

    background-color: $white;
    border-bottom: 1px solid $grayLighter;
}

@mixin thumbnail_media_block_border {
    padding: 4px;
    border: 1px solid $grayLighter;
    @include box-shadow(#{0 1px 0 rgba(0, 0, 0, 0.05),
                        0 2px 0 rgba(0, 0, 0, 0.05)});
}

.avatar {
    $avatar_size: 35px;
    display: block;
    width: $avatar_size;
    height: $avatar_size;
    background-size: $avatar_size $avatar_size;
}

.username-select {
    position: relative;
    label {
        position: absolute;
        z-index: 1;
        left: 15px;
        font-size: 15px;
        margin-top: 8px;
    }
    .select2-choices {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 40px;
    }
    .select2-container-multi .select2-choices .select2-search-field input {
        margin-top: 2px;
    }
}

.message-container {
    @include media-block(53px, 15px, 15px);
    padding: 15px 15px 5px 15px;
    color: $grayDark;
    @include stream_block();
    line-height: 18px;

    &:last-child {
        border-bottom: none;
    }

    .username {
        a {
            color: $grayDark;
            font-weight: bold;
            &:hover {
                color: $linkColorHover;
            }
        }
        padding-right: 5px;
    }

    .body {
        @include break-word();
        margin-bottom: 10px;
        min-height: 20px;

        &.follow-body {
            min-height: 57px;
        }
        .message-text {
            overflow: hidden;
        }
        &.has-media {
            @include reversed-media-block(150px, 60px, 15px);
            position: static;
            .content {
                min-height: 100px;
                margin-left: 0px;
                html.breakpoint-phone & {
                    margin-right: 60px;
                }
            }
            .media {
                left: auto;
                @include thumbnail_media_block_border();
                html.breakpoint-phone & {
                    padding: 2px;
                }

                html.breakpoint-phone & {
                    top: 35px;
                    right: 11px;
                    left: auto;
                }
            }
            .message-media {
                position: relative;
                background-color: $white;
                img {
                    display: block;
                }
                html.breakpoint-phone & {
                    border: none;
                    img {
                        width: 40px;
                        height: auto;
                    }
                }
            }
            .shadow-overlay, .icon-zoom-in {
                @include transition(#{background-color 0.2s linear, opacity 0.2s linear});
            }
            .inner-shadow-overlay, .shadow-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
                @include box-shadow(inset 0 0 0 2px rgba(0, 0, 0, 0.03));
            }
            .shadow-overlay {
                z-index: 2;
                cursor: pointer;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.6);
                    @include transition(#{background-color 0.15s linear, opacity 0.15s linear});
                    .icon-zoom-in {
                        @include opacity(100);
                    }
                }

                .icon-zoom-in {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -18px 0 0 -16px;
                    font-size: 34px;
                    color: rgba(255, 255, 255, 0.45);
                    @include opacity(0);
                }
                html.breakpoint-phone & {
                    @include opacity(0);
                }
            }
        }
    }

    .show-on-hover {
        opacity: 0;
        html.breakpoint-phone &,
        html.breakpoint-tablet & {
            opacity: 1;
        }
    }

    &:hover .show-on-hover {
        opacity: 1;
        @include transition(opacity 0.1s linear);
    }

    html.breakpoint-phone & {
        .message-footer {
            font-size: 9px;
        }
        .footer-bottom {
            margin-bottom: 0;
            li {
                margin-right: 5px;
            }
        }
    }
    .message-footer, .message-header {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        .username {
            font-size: 14px;
        }
        ul {
            margin-bottom: 4px;
            li {
                margin-right: 10px;
                a {
                    color: darken($themeSubText, 10%);
                    &:hover {
                        color: $linkColorHover;
                    }
                    &:hover i {
                        @include transition(color 0.15s linear);
                        color: lighten($themeAccent, 25%);
                    }
                }
                &.last {
                    margin-right: 0;
                }
            }
        }

        i {
            color: lighten($themeSubText, 15%);
            @include transition(color 0.2s linear);
        }
    }
}

.ellipsize {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recent-message {
    margin-right: 100px;
}

.img-block {
    margin-right: 10px;
    width: 50px;
}

.users, .recent-message {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90%;
}

.channel-detail {
    margin-right: 20px;
}

.channel-list {
    max-width: 950px;
    ul {
        padding-right: 6px;
    }

    li {
        border-width: 1px 1px 0;
        position: relative;
        border-color: $grayLighter;
        border-style: solid;
        &.last {
            border-width: 1px;
        }
        &.show-older-channels {
            font-family: $sansFontFamily;
            font-size: 20px;
            padding: 15px 0;
            border: none;
        }
    }
    .channel {
        padding: 7px 10px;
        margin-left: 0px;
        background-color: $white;
        &.unread {
            background-color: $themeSolid;
            border: none;
        }
        &:hover {
            background-color: $grayHighlight;
            border: none;
        }
    }
}

.roster-member {
  margin-bottom: 5px;
  .profile-link {
      color: $grayLighter;
      margin-left: 7px;
  }
  html.breakpoint-widescreen &:hover {
      .profile-link {
          display: inline-block;
      }
  }
}

.roster {
    overflow-y: auto;
    html.breakpoint-phone & {
        overflow-y: visible;
    }
    .username {
        margin-left: 5px;
    }
}

.roster-container {
    margin-left: 5px;
}

.alpha-link {
    font-size: 18px;
}

.progress {
    margin: -10px 0 5px 0;
}

.image-name {
    position: relative;
    left: 10px;
    z-index: 1;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
}
.image-name .image-name-text {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #111;
}

.remove-attachment {
    cursor: pointer;
    width: 20px;
}

.media-embed {
    width: 100px;
    height: 100px;
}

.progress {
    position: relative;
}
.progress .bar {
    position: absolute;
    top: 0;
    left: 0;
}

.form-horizontal textarea {
    height: auto;
}

.file-upload {
    .attachment-alert {
        display: none;
    }
}

.message-form {
    .send-button {
        width: 70px;
        font-size: 14px;
        text-align: center;
        @include transition(#{color 0.05s linear, background-color 0.05s linear});
        &.disabled {
            color: darken($themeSubText, 20%);
            background-color: $btnBackground;
            @include transition(#{color 0.05s linear, background-color 0.05s linear});
            &:hover {
                background-color: $btnBackground;
            }
        }
        i {
            line-height: normal;
        }
    }
    .btn-attach-file {
        border: none;
        background-color: transparent;
        margin-right: 10px;
        font-family: $sansFontFamily;
        color: $themeSubText;
        font-size: 13px;
        i {
            font-size: 16px;
            margin-right: 5px;
            color: lighten($themeSubText, 15%);
        }
        &:hover, &:hover i {
            color: darken($themeSubText, 10%);
        }
    }
}

.channel-list-menu {
    max-width: 950px;
    font-family: $sansFontFamily;
    margin-bottom: 5px;
    ul {
        height: 24px;
        line-height: 28px;
    }
    li {
        padding: 0 5px;
    }
    a {
        font-size: 12px;
        color: $grayLight;
        font-weight: normal;
        &.active {
            color: $grayDark;
            font-weight: bold;
        }
        &.btn {
            color: $white;
            line-height: normal;
        }
    }
}