<div class="row-fluid auto-create">
  <div class="span8">
    <form class="form-horizontal auto-create-message-form" ng-submit="createUser()">
      <fieldset>
        <legend>Send a message</legend>
        <div class="control-group" ng-controller="UserSearchCtrl">
          <label class="control-label" for="recipients">Recipients:</label>
          <div class="controls">
            <input type="hidden" ui-select2="usernameSelect" ng-model="selectedUsers" class="span12" ng-multiple>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="message">Message:</label>
          <div class="controls">
            <textarea name="message" class="span12" ng-model="message.text" rows="2"></textarea>
            <div file-upload></div>
          </div>
        </div>
        <div class="form-actions yui3-u-1">
          <span ng-class="{'text-error': message.text.length > 256}">{{256 - message.text.length}}</span>
          <span class='pull-right'>
            <button type='submit' ng-disabled="!enable_send_button() || !selectedUsers.length"
                  ng-class="{'btn btn-primary btn-small send-button post-button pull-right': true, 'disabled': !enable_send_button() || !selectedUsers.length}">Send</button>
            <button class='btn-attach-file btn-small transition-color' ng-show='show_file_upload_button()' data-attach-btn><i class='icon-file'></i>Upload a file ...</button>
          </span>
        </div>
      </fieldset>
    </form>
  </div>
</div>
