<div class='file-upload'>
  <div class='file-preview' ng-show='show_file_upload_button()' data-image-preview-container>
    <div data-upload-progress class='hide'>
      <div class="progress">
        <span class="image-name" data-attachment-name>
          <span class='remove-attachment yui3-u hide' data-remove-attachment>x</span>
          <span class="image-name-text" data-text></span>
        </span>
        <div class="bar" style="width: 0%;"></div>
      </div>
    </div>
  </div>
  <input type="file" style="display:none" name="file_upload" data-file-upload-input>
  <!-- <button class='btn btn-small' data-attach-btn>Example File Button</button> -->
</div>