<div class="row-fluid">
  <div class="span12">
    <form name="messageForm" class="form-inline message-form">
      <div file-upload></div>
      <input type="text" class='mg-b-10 input-block-level'name="text" autocomplete="off" ng-model="message.text">
      <span class='yui3-u-1 actions'>
        <span ng-class="{'text-error': message.text.length > 2048}">{{ 2048 - message.text.length | number}}</span>
        <span class='pull-right'>
          <button value='submit' ng-click="submitMessage()" ng-disabled="!enable_send_button()"
                ng-class="{'btn btn-primary btn-small send-button post-button pull-right': true, 'disabled': !enable_send_button()}">Send</button>
          <button class='btn-attach-file btn-small transition-color' ng-show='show_file_upload_button()' data-attach-btn><i class='icon-file'></i>Upload a file ...</button>
        </span>
      </span>
    </form>
  </div>
</div>
