<div>
  <ul class="nav">
    <li class='logged-in-block' ng-class="{'active': (selectedNav == 'inbox' || selectedNav == 'muted')}"><a href="/">Messages</a></li>
    <li class='logged-in-block'><a href="{{alpha_url_base}}">Alpha</a></li>
    <li class="logged-in-block dropdown open-caret">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria_labelledby>
        <span class='logged-in-as'>Logged in as</span>
        <hr>
        <span class='logged-in-username'>
            <span class='inner'>{{username}}</span>
            <i class='icon-chevron-down'></i>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/logout" target="_self">Logout</a></li>
        <li ng-show="show_enable_notifications_button()"><a href='#' ng-click="enable_notifications()">Enable Notifications</a></li>
      </ul>
    </li>
  </ul>
</div>